.form {
  border: solid pink;
  height: 10vh;
  width: 100%;
}

.data {
  display: flex;
  flex-direction: row;
  .results {
    background-color: lightseagreen;
    width: 60%;

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__img {
      width: 150px;
    }
    &__list {
      list-style: none;
      //border: solid yellow;
    }
    &__name {
      //border: solid yellow;
      width: 150px;
      height: 80px;
    }
  }
  .favorites {
    width: 40%;
    border: solid blue;
  }
}

.selected {
  border: solid yellow;
  color: blue;
}
