.main {
  font-family: $font-main;
  border-style: none;
  box-sizing: border-box;
}
.title {
  margin: 20px;
  color: rgb(80, 79, 79);
}
.form {
  //border: solid pink;
  margin: 20px;
  height: 10vh;
  width: 100%;
  box-sizing: border-box;

  &__input {
    width: 350px;
    border: solid 3px lightgray;
    padding: 8px;
    border-radius: 3px;
  }

  &__button {
    width: 70px;
    background-color: rgb(4, 197, 181);
    border-radius: 5px;
    height: 35px;
    margin-left: 10px;
    color: white;
    border-style: none;
  }
  &__button:hover {
    background-color: grey;
    color: white;
  }
}

.data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  .results {
    background-color: rgb(217, 243, 243);
    width: 60%;
    margin: 0px 20px 10px 20px;
    border-radius: 10px;
    &__tittle {
      text-align: center;
      color: gray;
      padding-top: 10px;
    }
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 20px;
    }
    &__img {
      padding-top: 10px;
    }
    &__list {
      list-style: none;
      //border: solid yellow;
    }
    &__name {
      //border: solid yellow;
      font-size: 14px;
      width: 210px;
      height: 40px;
      color: rgb(80, 79, 79);
    }
  }

  .favorites {
    width: 30%;
    border: solid rgb(174, 240, 236);
    height: 50vh;
    margin: 0px 20px 10px 20px;
    border-radius: 10px;
    text-align: center;

    &__tittle {
      padding-top: 10px;
      color: rgb(20, 133, 133);
    }
  }
}

.selected {
  border-radius: 15px;
  text-align: center;
  width: 250px;
  border: solid 5px lightskyblue;
  margin-bottom: 15px;
  padding-top: 15px;
}
.reset__button {
  width: 70px;
  background-color: rgb(4, 197, 181);
  height: 25px;
  border-radius: 5px;
  height: 35px;
  margin-left: 20px;
  color: white;
  border-style: none;
}
