.main {
  font-family: $font-main;
  border-style: none;
  box-sizing: border-box;
  background-color: black;
}
.title {
  margin: 40px;
  color: $dark-grey;
}
.form {
  //border: solid pink;
  margin: 0px 20px 30px 40px;
  height: 10vh;
  width: 100%;
  box-sizing: border-box;

  &__input {
    width: 450px;
    border: solid 3px $aqua;
    padding: 10px;
    border-radius: 3px;
    color: $white;
    ::placeholder {
      color: $white;
    }
    ::value {
      color: $white;
    }
  }

  &__button {
    width: 70px;
    background-color: $button-color;
    border-radius: 5px;
    height: 35px;
    margin-left: 10px;
    color: $white;
    border-style: none;
    cursor: pointer;
  }
  &__button:hover {
    background-color: grey;
    color: white;
  }
}

.data {
  margin-left: 40px;
  // display: flex;
  // flex-direction: row;
  // box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 40px;

  .results {
    border: solid $white;
    border-radius: 10px;
    &__tittle {
      background-color: $white;
      text-align: center;
      color: $dark-grey;
      padding: 10px;
    }
    &__container {
      grid-column: 2 / 3;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      margin: 20px;
    }

    &__list {
      list-style: none;
      margin-top: 25px;
      //border: solid yellow;
    }
    &__name {
      //border: solid yellow;
      font-size: 16px;
      width: 210px;
      height: 40px;
      text-align: center;
      color: rgb(170, 167, 167);
    }
  }

  .favorites {
    border: solid lightpink;
    border-radius: 5px;
    text-align: center;
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin-top: 20px;
      list-style: none;
      //transform: scale(0.4);

      .fas {
        text-align: center;
        color: $lightpink-color;
        text-align: center;
        cursor: pointer;
        transform: scale(2);
      }
    }

    &__tittle {
      padding: 10px;
      color: $dark-grey;
      background-color: $lightpink-color;
    }
    &__name {
      color: $lightpink-color;
      font-size: 20px;
      color: $lightpink-color;
    }
    &__img {
      height: 25%;
      width: 25%;
    }
  }
}

.selected {
  border-radius: 5px;
  text-align: center;
  border: solid 8px $aqua;

  .results__name {
    color: $aqua;
  }
}

.reset__button {
  width: 70px;
  background-color: $button-color;
  height: 25px;
  border-radius: 5px;
  height: 35px;
  margin-left: 20px;
  color: white;
  border-style: none;
  cursor: pointer;
}
.reset__button:hover {
  background-color: grey;
  color: white;
}

ul {
  margin: 0px;
}
